h1 {
    background-color: cornflowerblue;
    font-size: 32px;
    font-family: Helvetica, sans-serif;
    color: black;
    text-align: center;
}

ol {
    font-family: Helvetica, sans-serif;
    background-color: antiquewhite;
    text-align: left;
    text-decoration:wavy, underline;
}

ul {
    background-color: antiquewhite;
    text-align: left;
}

li{
    color: green;
    font-weight: bold;
}